h2:hover {
	color : red;
}

/*.subtitle {
	color : blue;
}
*/
/*Rewriting the subtitle class*/
h2[class=subtitle]{
	color : blue;
}

#services {
	color : green;
}

/*li:nth-child(2) {
	color : blue;
}*/
/*li:only-child{
	color : purple;
}*/

td:only-child{
	color: purple;
}

/*#google-link:link{
	color : blue;
}

#google-link:visited {
	color : red;
}*/

h2 + a {
	color : red;

}
/*Works when they sharethe same parent*/
textarea ~ button {
	color : purple;
}
/*Child Selector*/
/*Selects direct children*/
ul > li {
	color : blue
}
/*Decendant Selector*/
/*Will not stop at parent*/
ul li {
	color : green;
}

/*Image Atribute Selector*/
/* 
* -> If it cointains anywhere
^ -> All the paths that matches
*/

img[src*="../img/"] {
	border : 10px solid black;
}

/*class should contain article-subtitle for this to work*/
h2[class~=article-subtitle] {
	background: green;
}

/*h2[class|=article-subtitle] {
	background: green;
}*/

/*subtitle-878789
subtitle-897898*/

/*selector {
	property : value;
	property2 : value;
	
}*/